@font-face {
  font-family: "CinzelDecorative-Regular";
  src: url(./assets/fonts/CinzelDecorative-Regular.ttf);
}

@font-face {
  font-family: "AlmendraSC-Regular";
  src: url(./assets/fonts/AlmendraSC-Regular.ttf);
}

@font-face {
  font-family: "futura book font";
  src: url(./assets/fonts/futura\ book\ font.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

* {
  /* outline: solid 1px red; */
}

body {
  background-color: #0a0a0a;
  height: 100vh;
  font-family: "futura book font";
}

h1 {
  font-size: 2rem;
  font-weight: normal;
}

h1,
h3,
p {
  color: white;
}

input {
  background: transparent;
  border: solid 1px;
  color: white;
  padding: 0.4rem;
  margin: 1rem 0;
}

/* Buttons */
button {
  background: transparent;
  border: solid 1px;
  color: white;
  padding: 0.4rem 1rem;
  cursor: pointer;
}

button:hover {
  background-color: white;
  color: black;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Game */
.game-container {
  display: inline-block;
  position: relative;
  width: 100%;
  max-width: 60rem;
  height: 90%;
}

/* Character Creation */
#character-creation {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 5%;
}

#character-creation-image {
  width: 65%;
}

#character-creation input {
  font-family: Arial;
  width: 15rem;
  max-width: calc(100% - 2rem);
  display: flex;
  flex-direction: column;
  justify-self: center;
}

/* Header */
header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: end;
}

/* Dungeon */
#dungeon {
  display: none;
  flex-direction: column;
  text-align: center;
  gap: 5%;
}

.rooms > img {
  margin-bottom: 2rem;
  height: 400px;
  width: 80%;
  object-fit: cover;
}

.controls {
  color: #f2f2f2;
}

#room-prompt {
  padding-bottom: 3rem;
}

#health {
  text-align: end;
  font-size: 1.35rem;
}

.controls {
  max-width: 13.5rem;
  padding: 0.4rem 0.6rem;
  display: grid;
  justify-self: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "forward forward forward"
    "left x right";
}

#forward {
  display: none;
  grid-area: forward;
  grid-column: 2/3;
}

#left {
  display: none;
  grid-area: left;
}

#right {
  display: none;
  grid-area: right;
}

.events {
  display: inline-block;
}

#text-options {
  display: inline-block;
}

#decision-panel {
  display: none;
}

.items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.item {
  max-width: 4.5rem;
  max-height: 4.5rem;
}

#potion {
  max-width: 80%;
}

#boots {
  display: none;
  max-width: 80%;
}

#potion:hover {
  cursor: pointer;
  filter: brightness(0.8);
}
